@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.recommended-essays{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline-start: 18px;
    padding-inline-end: 18px;

    @include tablet{
        padding-inline-start: 30px;
        padding-inline-end: 30px;
    }

    @include desktop{
        padding-inline-start: 145px;
        padding-inline-end: 145px;
        width: 80%;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__title{
        margin-right: auto;
    }
}