@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.upload{
    display: flex;
    flex-direction: column;
    padding-block-start: 90px;
    padding-block-end: 90px;

    @include tablet{
        padding-block-start: 110px;
        padding-block-end: 110px;
    }

    @include desktop{
        padding-block-start: 90px;
        padding-block-end: 90px;
    }

    &__title{
        text-align: left;
        margin: 30px 18px;

        @include tablet{
            margin: 55px 30px;
        }

        @include desktop{
            margin: 75px 145px;
        }
    }

    &__form{
        margin: 0px 18px;

        @include tablet{
            margin: 0px 30px;
        }

        @include desktop{
            margin: 0px 145px;
        }
    }

    &__essay-type{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 24px;
        
        &>*{
            margin-right: 28px;
        }
    }

    &__radio{
        margin-right: 8px;
    }

    &__essay-details{
        display: flex;
        flex-direction: column;
    }

    &__label{
        padding: 2px 9px;
        border-radius: 8px;
        background-color: $soapbox-blue;
        color: $white;
        font-weight: 400;
        font-size: 15px;
        width: fit-content;
        margin-bottom: 14px;

        &--radio{
            margin-top: auto;
            margin-bottom: auto;
        }

        &--form-section{
            margin-right: 0;
            margin-bottom: 14px;
            padding: 0;
            width: 100%;
            text-align: left;
            color: $black;
            background-color: #fff;
            font-size: 24px;
            font-weight: 500;
        }
    }

    &__input{
        margin-bottom: 35px;
        border: 1px solid $steel;
        border-radius: 10px;
        font-size: 15px;
        padding: 10px 15px;

        &--file{
            display: none;
        }
    }

    &__warning{
        color: $alert-red;
        margin: 24px 0;
        text-align: left;
    }

    &__input-file-cover{
        border: 2px solid $soapbox-blue;
        border-radius: 99px;
        height: 25px;
        color: $soapbox-blue;
        margin-bottom: 24px;
    }

    &__textarea{
        margin-bottom: 35px;
        border: 1px solid $steel;
        border-radius: 10px;
        font-size: 15px;
        padding: 10px 15px;
        height: 90px;
        font-family: sans-serif;
    }

    #synopsis{
        overflow: scroll;
    }

    #content{
        height: 200px;
        overflow: scroll;
    }

    :focus{
        outline: none;
    }

    &__buttons{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column-reverse;
    }

    &__button{
        margin-bottom: 14px;
        border: none;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0;
        border-radius: 10px;

        &--essay-type{
            background-color: $soapbox-blue;
            padding: 5px 10px;
            color: white;
        }

        &--cancel{
            border: 2px solid $alert-red;
            background-color: white;
            color: $alert-red;

            &:hover{
                border: none;
                background-color: $alert-red;
                color: white;
            }
        }

        &--submit{
            background-color: $soapbox-blue;
            color: white;

            &:hover{
                background-color: white;
                border: 2px solid $soapbox-blue;
                color: $soapbox-blue;
            }
        }
    }
}