@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.home{
    display: flex;
    flex-direction: column;

    &__title{
        align-self: flex-start;
        margin-left: 18px;
    }
}