@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.topics{
    display: flex;
    flex-direction: column;
    padding-block-start: 90px;
    padding-block-end: 90px;

    @include tablet{
        padding-block-start: 110px;
        padding-block-end: 110px;
    }

    @include desktop{
        padding-block-start: 90px;
        padding-block-end: 90px;
    }
}