@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 18px;
    padding-inline-end: 18px;
    background-color: $soapbox-blue;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;

    @include tablet{
        padding-inline-start: 30px;
        padding-inline-end: 30px;
        height: 100px;
    }

    @include desktop{
        padding-inline-start: 145px;
        padding-inline-end: 145px;
        height: 80px;
    }

    &__logo{
        color: $white;
    }

    &__items{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        color: $white;
        position: relative;
    }

    &__item{
        margin-left: 20px;
    }

    &__link{
        text-decoration: none;
        color: #fff;
    }

    @keyframes searchInMobile {
        from {
            width: 0;
        }
        to{
            width: 125px;
        }

    }

    @keyframes searchInTablet{
        from {
            width: 0;
        }
        to{
            width: 93.5%;
        }
    }

    @keyframes searchInDesktop {
        from {
            width: 0;
        }
        to{
            width: 200px;
        }
    }

    &__search{
        animation-name: searchInMobile;
        animation-duration: .4s;
        animation-timing-function: ease-in-out;
        border-radius: 8px;
        border: none;
        padding: 10px 10px;
        width: 125px;

        @include tablet{
            animation-name: searchInTablet;
            width: 93.5%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: auto;
            padding: 10px 10px;
        }

        @include desktop{
            position: initial;
            animation-name: searchInDesktop;
            width: 200px;
        }


        &:focus{
            outline: none;
        }

        &--label{

        }
    }

    &__user-profile{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
    }

    .active Link{
        color: $white;
    }

    .tablet{
        display: none;

        @include tablet{
            display: inline-block;
        }
    }
}